$primary: #0d21a1;
$light: #e7f3ff;
@import "../../../assets/vendor/morph/variables";
@import "../../../assets/vendor/bootstrap/scss/bootstrap";
@import "../../../assets/vendor/morph/bootswatch";

.menu-title {
  padding: 10px 0;
  text-transform: uppercase;
  font-weight: bold;
  color: #949494;
}
.nav-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu-item-link {
  padding: 10px;
  transition: 0.5s;
}

.menu-item-link:hover{
  color: $primary;
  font-size: 1.1rem;
}

.menu-item-link.active {
  background-color: $primary;
  border-radius: 0.25rem;
  i,
  small {
    color: white;
    font-weight: normal;
  }
}
.menu-spacer {
  padding: 5px 0;
}
