$primary: #0d21a1;
$light: #fff;

body.dark-mode {
  .loader-container {
    background: black;
  }
  color: white !important;
  transition: 0.5s;
  //$primary : #5b62f4;
  background: #3d3d42;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a {
    color: $light;
  }
  .pagination {
    box-shadow: none;
    background-color: #333232;
    .page-link {
      background-color: transparent;
      color: $light;
    }
  }
  .navbar {
    background: #303030;
  }
  .navbar.cus-shadow {
    box-shadow: 0 0 10px black !important;
  }
  .nav-link {
    color: $light !important;
  }

  .logo-text {
    color: $light !important;
  }

  .btn-outline-primary {
    background: #e5e5e5;
    color: black;
    box-shadow: none;
  }
  .btn-outline-primary:active {
    background: #4f4f4f;
    color: $light;
    box-shadow: none;
  }
  .mode-change {
    background-color: #303030;
    color: $light;
    box-shadow: 0 0 10px #101010;
  }
  .card {
    background-color: #656363 !important;
    border: none;
    box-shadow: none;
  }
  .original-price-text {
    color: #808080;
  }
  .final-price-text {
    color: $light;
  }
  .fa-facebook {
    color: $light !important;
    background: #0076ff !important;
    border-radius: 50% !important;
  }
  .form-control,
  .form-select,
  .list-group,
  .breadcrumb {
    background-color: #000 !important;
    box-shadow: none;
    color: $light;
  }
  .list-group-item.active,
  .breadcrumb-item.active {
    color: white !important;
  }
  .nav-link:hover {
    transition: 0.5s;
    color: #000 !important;
  }
  .text-primary {
    color: $light !important;
  }
  table {
    tr {
      th,
      td {
        background: #3d3d42;
      }
    }
  }
}
