$primary: #0d21a1;

@import "../../../assets/vendor/morph/variables";
@import "../../../assets/vendor/bootstrap/scss/bootstrap";
@import "../../../assets/vendor/morph/bootswatch";
*::-webkit-scrollbar{
  -webkit-appearance: none;
}
*::-webkit-scrollbar:vertical {
  width: 11px;
}
*::-webkit-scrollbar:horizontal {
  height: 11px;
}
*::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid #e7f3ff; /* should match background, can't be transparent */
  background-color: $primary;
}
*::-webkit-scrollbar-track {
  background-color: #e7f3ff;
  border-radius: 8px;
}
.header {
  background: rgba(211, 218, 229, 0.78);
  backdrop-filter: blur(15px) contrast(100%);
  z-index: 2000;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.nav-item {
  margin-right: 15px !important;
  .nav-link {
    font-weight: bolder;
    transition: 0.5s;
    color: #4d63f1 !important;
    //color: $primary !important;
  }
  .nav-link:hover {
    transition: 0.5s;
    color: $primary !important;
  }
  .nav-link.active {
    transition: 0.5s;
    color: $primary !important;
  }
}

.logo-container img:hover {
  animation: rotation 2s;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.sticky-cards{
  position: sticky;
  top: 80px;
}


.product-card {
  border-radius: 20px;
  transition: 1s;
}

.product-card:hover {
  transform: scale(0.99) !important;
  transition: 1s;
}

.card-product-img {
  border-radius: 20px 20px 0px 0px;
}

.slick-card{
  border-radius: 20px;
}
.slick-dots{
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.slick-dots li{
  width: 10px !important;
  height: 10px !important;
  background-color: transparent;
  border: 2px solid $primary;
  border-radius: 50%;
}

.slick-dots li.slick-active{
  width: 15px !important;
  height: 15px !important;
  background-color: $primary !important;
}

.original-price-text {
  color: #212529;
}

.final-price-text {
  color: red;
}

.footer-icons:hover{
  transform: scale(1.1);
}

.btn_custom_interaction:hover {
  transform: scale(0.95) !important;
  transition: 1s;
}

table tr td{
  vertical-align: middle !important;
}

.scroll-to-top{
  width: 50px;
  height: 50px;
  border-radius:10px;
  border: none;
  background: $primary;
  color: #fffff5;
  bottom: 50px;
  right: 70px;
  transition: 0.5s;
}
.scroll-to-top:hover{
  color: #ffffff;
  transition: 0.5s;
}

.mode-change{
  width: 50px;
  height: 50px;
  border: none;
  background: #0b0114;
  color: #d9e3f1;
  bottom: 50px;
  right: 10px;
}

.accordion-button:not(.collapsed){
  background: #d9e3f1 !important;
}


div.dataTables_wrapper div.dataTables_paginate ul.pagination {
  margin: 13px 2px;
  white-space: nowrap;
  justify-content: center;
}