$primary: #0d21a1;

@import "../../../assets/vendor/morph/variables";
@import "../../../assets/vendor/bootstrap/scss/bootstrap";
@import "../../../assets/vendor/morph/bootswatch";

.header {
  background: rgba(211, 218, 229, 0.78);
  backdrop-filter: blur(15px) contrast(100%);
  z-index: 2000;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.nav-item {
  margin-right: 15px !important;
  .nav-link {
    font-weight: bolder;
    transition: 0.5s;
    color: #4d63f1 !important;
    //color: $primary !important;
  }
  .nav-link:hover {
    transition: 0.5s;
    color: #0d21a1 !important;
  }
  .nav-link.active {
    transition: 0.5s;
    color: #0d21a1 !important;
  }
}

.logo-container img:hover {
  animation: rotation 2s;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.sticky-cards{
  position: sticky;
  top: 80px;
}


.product-card {
  border-radius: 20px;
  transition: 1s;
}

.product-card:hover {
  transform: scale(0.99) !important;
  transition: 1s;
}

.card-product-img {
  border-radius: 20px 20px 0px 0px;
}

.slick-card{
  border-radius: 20px;
}
.slick-dots{
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.slick-dots li{
  width: 10px !important;
  height: 10px !important;
  background-color: transparent;
  border: 2px solid $primary;
  border-radius: 50%;
}

.slick-dots li.slick-active{
  width: 15px !important;
  height: 15px !important;
  background-color: $primary !important;
}

.original-price-text {
  color: #212529;
}

.final-price-text {
  color: red;
}

.footer-icons:hover{
  transform: scale(1.1);
}

.btn_custom_interaction:hover {
  transform: scale(0.95) !important;
  transition: 1s;
}
